{% extends "base.html" %}
{% block content %}
    <div id="change_info_result">

    </div>
    <table class="form-table">
        <form method="post" class="change_user_info_form" id="change_user_info_form">
            <tr><th id="form-th" class colspan="2"><h3>Edit My Information</h3></th></tr>
            {% csrf_token %}
            {{ user_info_form.as_table }}
            <tr><td colspan="2">
                <input type="button" value="Accept" class="form-btn" onclick="change_user_information()">
            </td>
            <td class="result">

            </td>
            </tr>
        </form>
        <form method="post" class="change_user_contact_info_form" id="change_user_contact_info_form">
                <tr><th id="form-th" class colspan="2"><h3>Edit My Contact Information</h3></th></tr>
                {% csrf_token %}
                {{ profile_info_form.as_table }}
                <tr><td colspan="2">
                    <input type="button" value="Accept" class="form-btn" onclick="change_user_contact_information()">
                </td>
                <td class="result">

            </td>
                </tr>
        </form>
        <form method="post" class="change_user_want_study_info_form" id="change_user_want_study_info_form">
                <tr><th id="form-th" class colspan="2"><h3>Edit My Contact Information</h3></th></tr>
                {% csrf_token %}
                {{ profile_info_form.as_table }}
                <tr><td colspan="2">
                    <input type="button" value="Accept" class="form-btn" onclick="change_user_want_study_information()">
                </td>
                <td class="result">

                 </td>
                </tr>
        </form>
    </table>
    <script type="text/javascript" src="/static/js/change_user_information.js"></script>
{% endblock %}