{% extends "base.html" %}
{% block content %}
    {% if not user.is_active %}
        <table class="form-table">
            <form action="/" method="post" class="login-form">
                <tr><th id="form-th" class colspan="2"><h3>Authorization</h3></th></tr>
                {% csrf_token %}
                {{ form.as_table }}
                <tr><td colspan="2">
                    <input type="submit" name="Log-in" value="Login" class="form-btn">
                </td></tr>
            </form>
            <form action="/registration/" method="get">
                <tr><td colspan="2"><input type="submit" value="Registration" class="form-btn"></td></tr>
            </form>
        </table>
    {% endif %}
{% endblock %}