{% extends "base.html" %}
{% block content %}
    <table class="form-table">
        <form action="/registration/" method="post" class="reg-form">
            <tr><th id="form-th" class colspan="2"><h3>Registration</h3></th></tr>
            {% csrf_token %}
            {{ form.as_table }}
            <tr><td colspan="2">
                <input type="submit" name="register" value="Register" class="form-btn">
            </td></tr>
        </form>
    </table>
{% endblock %}