{% extends "base.html" %}
{% block content %}
    <table class="form-table">
        <tr style="background-color:#3060C9; color:#ffffff"  height="30px">
            <td width="230px">&nbsp; {{ current_user.first_name }} {{ current_user.last_name }}</td>
            <td align="right" width="350px">
                    Last login: {{ current_user.last_login }} &nbsp;
            </td>
        </tr>
        <tr>
            <td class="profile_contents_wrap">
                <div class="Avatar">
                    <a href="#">
                        <img src="
                            {% if not current_user.avatar.get_avatar_original %}
                                /static/avatars/default.jpg
                            {% else %}
                                {{ current_user.avatar.get_avatar_original }}
                            {% endif %}
                        " width="200" alt="avatar">
                    </a>
                    <div>
                        <span onclick="CreatePopUpDiv()">Change Avatar</span>
                    </div>
                </div>
                <div id="profile_actions">
                    {% block current_user.profile_actions %}
                        {% include 'profile/user_page_blocks/profile_actions.html' %}
                    {% endblock %}
                </div>
                <div id="subscriptions" class="profile_block">
                    {% block current_user.subscriptions %}
                        {% include 'profile/user_page_blocks/subscriptions.html' %}
                    {% endblock %}
                </div>
                <div id="subscribers" class="profile_block">
                    {% block current_user.subscribers %}
                        {% include 'profile/user_page_blocks/subscribers.html' %}
                    {% endblock %}
                </div>
                <div id="my_courses" class="profile_block">
                    {% block current_user.my_courses %}
                        {% include 'profile/user_page_blocks/my_courses.html' %}
                    {% endblock %}
                </div>
                <div id="course_subscriptions" class="profile_block">
                    {% block current_user.course_subscriptions %}
                        {% include 'profile/user_page_blocks/course_subscriptions.html' %}
                    {% endblock %}
                </div>
            </td>
            <td valign="top" class="profile_contents_wrap">
                <div width="330">
                    <table style="margin-top: 10px; margin-right: 10px; word-wrap: break-word">
                        <tr>
                            <td width="120px"><b>Email:</b></td>
                            <td><a href="mailto:{{ current_user.email }}">{{ current_user.email }}</a></td>
                        </tr>
                        <tr>
                            <td><b>Phone:</b></td>
                            <td>{{ current_user.profile.phone }}</td>
                        </tr>
                         <tr>
                            <td><b>Mobile phone:</b></td>
                            <td>{{ current_user.profile.mobile_phone }}</td>
                        </tr>
                        <tr>
                            <td><b>Skype:</b> </td>
                            <td><a href="skype:{{ current_user.profile.skype }}?call">{{ current_user.profile.skype }}</a></td>
                        </tr>
                        <tr>
                            <td valign="top"><b>Skills:</b> </td>
                            <td>{{ current_user.profile.skills }}</td>
                        </tr>
                        <tr>
                            <td valign="top"><b>Want study:</b> </td>
                            <td>{{ current_user.profile.want_study }}</td>
                        </tr>
                    </table>
                    </div>
                <div id="news" class="profile_block">
                    {% block news %}
                        {% include 'profile/user_page_blocks/news.html' %}
                    {% endblock %}
                </div>
            </td>
        </tr>
    </table>
    <script type="text/javascript" src="/static/js/image_uploader.js"></script>
{% endblock %}