{% extends "base.html" %}
{% block content %}
    {% if  can_change %}
        <a href="/course{{ course.id }}/change_info/">Change Info</a>
        <a href="/course{{ course.id }}/add_lecture/">Add Lecture</a>
    {% endif %}
    <table>
        <td>
            {% for lecture in lectures %}
                <tr>
                    {{ lecture.title }}
                </tr>
                <tr>
                    {{ lecture.description }}
                </tr>
                <tr>
                    {% if subscribed or can_change%}
                        <form action="/course{{ course.id }}/lecture{{ lecture.id }}/" method="post">
                            {% csrf_token %}
                            <p><input type="submit" value="Read"></p>
                        </form>
                        <form action="/course{{ course.id }}/lecture{{ lecture.id }}/" method="post">
                            {% csrf_token %}
                            <p><input type="submit" value="Download" disabled></p>
                        </form>
                    {% endif %}
                </tr>
            {% endfor %}
        </td>
    </table>
{% endblock %}