{% extends "base.html" %}
{% block content %}
    <table class="form-table">
        <form action="/create_course/" method="post" class="course_form">
            <tr><th id="form-th" class colspan="2"><h3>Create course</h3></th></tr>
            {% csrf_token %}
            {{ form.as_table }}
            <tr><td colspan="2">
                <input type="submit" name="Create" value="Create" class="form-btn">
            </td></tr>
        </form>
    </table>
{% endblock %}