body {
    margin: 0 auto;
    background-color: #EEEEEE;
    font-family: sans-serif;
    padding: 0;
}

a {
    text-decoration: none;
}

div {
    /*border: 1px solid black/**/
}

table {
    border-collapse: collapse;
}

td {
    margin: 0;
    padding: 0;
}

.header {
    float: left;
    min-width: 1200px;      /*===========Site size===========*/
    height: 60px;
    margin-top: 20px;
    background-color: #3060C9;
}

.wrapper {
    width: 1200px;      /*===========Site size===========*/
    margin: 0 auto;
    min-height: 300px;
    float: left;
}

.side-bar {       /*===========Site size===========*/
    width: 200px;
    margin-left: 50px;
    margin-top: 25px;
    float: left;
}

.content-wrap{
    box-sizing: border-box;
    width: 900px;
    min-height: 300px;
    margin: 0 auto;
    float: left;
    margin-left: 40px;
}

.content{
    width: 100%;
    min-width: 870px;

    min-height: 300px;

    float: left;
}

.footer-wrap {
    float: left;

    width: 100%;
    min-width: 870px;

    min-height: 60px;
}

.footer {
    margin: 0 auto;
    width: 100px;
    height: 60px;
}

.logo {
    padding-left: 25px;
    min-width: 50px;
    float: left;
}

.logo span {
    color: #ffffff;
    font-size: 50px;
    font-weight: bold;
}

/*===================Logout form===================*/
.logout_div{
    float: right;
    margin-right: 30px;
    margin-top: 20px;
    color: #ffffff;
}

.logout_div a{
    text-decoration: none;
    color: #CCCCCC;
}

/*===================Registration form===================*/
.reg-form {
    max-width: 330px;
    padding: 15px;
}

.login-form {
    max-width: 280px;
    padding: 15px;
}

.form-table {
    margin: 0 auto;
    margin-top: 15px;
    width: 800px;
}

.form-control,.form-textarea {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
}

.form-textarea {
    resize: none;
}

#form-th h3 {
    margin-top: 0;
}

.form-btn {
    display: block;
    width: 100%;
    padding: 8px 16px 10px;
    margin-top: 5px;
}

/*===================Navigation menu===================*/
#nav-menu {
    padding-left: 5px;
    margin-top: 5px;
}

li>.nav-menu-item {
    display: block;
    width: 110px;
}

td>.nav-menu-item {
    display: block;
    width: 74px;
}

.nav-menu-item,#edit-profile {
    border-radius: 2px;
    padding: 0 5px;
}

/*===================User page===================*/

.profile_block>table {
    width: 100%
}

.profile_block,#profile_actions {
    padding-bottom: 5px;
}

.profile_contents_wrap {
    padding: 0 5px;
}

#user_page_block_content>td {
    padding: 0 5px;
}

/*======Error Div======*/

.div-error {
    background-color: #F9F6E7;
    border: 1px solid #D4BC4C;
    padding: 20px;
}