/*===================Registration form===================*/
#form-th {
    text-align: center;
}

.form-table {
    align: center;
    text-align: left;
}

.form-control,.form-textarea {
    border-radius: 3px;
    border: 1px solid #CCCCCC;
}

.form-btn {
    font-size: 18px;
    border: 1px solid transparent;
    border-radius: 6px;
    background-color: #3060C9;
    color: #ffffff;
}

.form-btn:hover {
    background-color: #303096;
}
/*===================Navigation menu===================*/
ol#nav-menu {
    list-style: none;
}

ol#nav-menu li {
    margin-top: 3px;
}

.nav-menu-item,.nav-menu-item:visited {
    color: #3060C9;
}

.nav-menu-item,#edit-profile {
    text-decoration: none;
    font-size: 1em;
}

.nav-menu-item:hover,#edit-profile:hover {
    background-color: #E0E0EC;
}

#edit-profile,#edit-profile:visited {
    color: #999999;
}

/*===================User page===================*/
#profile_actions a {
  margin-left: 10px;
  margin-rignt: 10px;
  color: #3060C9;
  background: #EEEEEE;
  display: block;
  width: 188px;
  padding: 4px 6px;
}
#profile_actions a:hover {
  text-decoration: none;
  background: #E0E0EC;
}
#news {
    margin-top: 10px;
    margin-right: 10px;
}
#friends {
    margin-top: 10px;
    margin-left: 10px;
}
#user_page_block_head {
    background-color:#749CF3;
    color:#ffffff;
    width: 100%;
    height: 30px;
}
#user_page_block_content {
    margin-top: 10px;
    background-color: #EEEEEE;
}

/*========= Avatar ==========*/

.Avatar {
    display: inline-block;
    width: 200px;
    height: 200px;
    overflow: hidden;
    margin: 10px;
}

.Avatar div {
    background-color: #999999;
    position: relative;
    width: 200px;
    float: left;
    height: 32px;
    margin-top: -40px;
    text-align: center;
    padding-top: 8px;
    opacity: 0.7;
    display: none;
    cursor: pointer;
}

.Avatar div span {
    cursor: pointer;
}

.Avatar div span:hover {
    color: #dcdcdc;
}

/*========= PopUpDiv ==========*/

.pop-up-wrapper {
    width:100%;
    min-height:100%;
    background-color: rgba(0,0,0,0.5);
    overflow:hidden;
    position:fixed;
    display: none;
}

.pop-up-div {
    width: 800px;
    margin: 0 auto;
    min-height: 100px;
    margin-top: 200px;
    background-color: #ffffff;
    border: 1px solid #000000;
    overflow: auto;
}

.pop-up-div-close {
    color: #999999;
    margin-left: 700px;
    font-size: 25px;
    margin-top: 25px;
}

.pop-up-div-close:hover {
    color: #111111;
    cursor: pointer;
}

.pop-up-div-content {
    width: 700px;
    min-height: 100px;
    margin: 0 auto;
    margin-bottom: 20px;
}

.pop-up-div-form {

}

.pop-up-div-form .avatar-preview {
    margin: 0 auto;
    margin-bottom: 20px;
    max-width: 500px;
}

.pop-up-div-form .avatar-preview img {

}

.pop-up-div-form-input {

}

.pop-up-div-form-buttons-group {

}