{% extends "base.html" %}
{% block content %}
    <table class="form-table">
        <form action="/course{{ course }}/add_lecture/" method="post" class="lecture_form" enctype="multipart/form-data">
            <tr><th id="form-th" class colspan="2"><h3>Add Lecture</h3></th></tr>
            {% csrf_token %}
            {{ form.as_table }}
            <tr><td colspan="2">
                <input type="submit" name="Add" value="Add" class="form-btn">
            </td></tr>
        </form>
    </table>
{% endblock %}