{% extends "base.html" %}
{% block content %}
    <object data="http://static/courses/{{ course }}_{{ lecture.id }}.pdf" type="application/pdf" width="600" height="450">
        alt : <a href="http://static/courses/{{ course }}_{{ lecture.id }}.pdf">asd</a>
    </object>
    /static/courses/{{ course }}_{{ lecture.id }}.pdf
    <iframe src="/static/courses/{{ course }}_{{ lecture.id }}.pdf" width="600" height="780" style="border: none;"></iframe>
{% endblock %}
