{% block course_subscriptions %}
    <table>
        <tr id="user_page_block_head">
            <td width="200" align="center">Course Subscriptions</td>
        </tr>
        <tr id="user_page_block_content">
            <td>
                No Course Subscriptions
            </td>
        </tr>
    </table>
{% endblock %}