{% block my_courses %}
    <table>
        <tr id="user_page_block_head">
            <td width="200" align="center">Courses</td>
        </tr>
        <tr id="user_page_block_content">
            <td>
                No Courses
            </td>
        </tr>
    </table>
{% endblock %}