{% block news %}
    <table>
        <tr id="user_page_block_head">
            <td width="330" align="center">News</td>
        </tr>
        <tr id="user_page_block_content">
            <td>
                No news
            </td>
        </tr>
    </table>
{% endblock %}
