{% block subscribers %}
    <table>
        <tr id="user_page_block_head">
            <td width="200" align="center">Subscribers</td>
        </tr>
        <tr id="user_page_block_content">
            <td>
                No Subscribers
            </td>
        </tr>
    </table>
{% endblock %}