{% block side-bar %}
    <ol id="nav-menu">
        <li>
            <table id="profile-table"><tr>
                <td id="profile-wrap">
                    <a id="profile" class="nav-menu-item" href="/id{{ user.id }}">Profile</a></td>
                <td id="edit-profile-wrap">
                    <a id="edit-profile" href="/my_info">edit</a></td>
            </tr></table>
        </li>
        <li id="l-frnds">
            <a class="nav-menu-item" href="#">Friends</a>
        </li>
        <li id="l-msg">
            <a class="nav-menu-item" href="#">Messages</a>
        </li>
        <li id="l-nws">
            <a class="nav-menu-item" href="#">News</a>
        </li>
        <li id="l-crs">
            <a class="nav-menu-item" href="/my_courses">Courses</a>
        </li>
        <li id="l-smnr">
            <a class="nav-menu-item" href="#">Seminars</a>
        </li>
        <li id="l-prj">
            <a class="nav-menu-item" href="#">Projects</a>
        </li>
        <li id="l-tst">
            <a class="nav-menu-item" href="#">Tests</a>
        </li>
        <li id="l-empl">
            <a class="nav-menu-item" href="#">Employment</a>
        </li>
        <li id="l-app">
            <a class="nav-menu-item" href="#">Applications</a>
        </li>
        <li id="l-doc">
            <a class="nav-menu-item" href="#">Documents</a>
        </li>
    </ol>
{% endblock %}