{% extends "base.html" %}
{% block content %}
    <table class="form-table">
        <form method="post" class="search_form">
            <tr><th id="form-th" class colspan="2"><h3>Search</h3></th></tr>
            {% csrf_token %}
            {{ search_user_form.as_table }}
            {{ search_profile_form.as_table }}
            <tr><td colspan="2">
                <input type="button" value="Find" class="form-btn" onclick="search_ajax_request()">
            </td></tr>
        </form>
    </table>
    <div class="search_result">

    </div>
{% endblock %}