
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <link rel="stylesheet" type="text/css" href="/static/css/layout_styles.css">
    <link rel="stylesheet" type="text/css" href="/static/css/imgAreaSelect/imgareaselect-animated.css">
    <script type="text/javascript" src="/static/js/core/jquery-1.9.1.js"></script>
    <script type="text/javascript" src="/static/js/search.js"></script>
    <script type="text/javascript" src="/static/js/jquery.imgareaselect.dev.js"></script>
    <title>
        {{ request.user.username }}
    </title>
</head>
<body>
    <div class="pop-up-wrapper">
        <div class="pop-up-div">
            <div class="pop-up-div-close" onclick="ClosePopUpDiv()">Close</div>
            <div class="pop-up-div-content">
                <div class="pop-up-div-error"></div>
                <div class="pop-up-div-form">
                    <form action="#" class="avatar-form" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="avatar-preview">
                            <img alt="" src="">
                        </div>
                        <div class="pop-up-div-form-input">
                            <input type="file" name="image" onchange="ShowUploadedImagePreview()">
                        </div>
                        <div class="pop-up-div-form-buttons-group">
                            <input type="button" value="Reset" onclick="ClosePopUpDiv()" class='button-reset'>
                            <input type="button" value="Finish" class='button-next' onclick="SendData()">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="header">
        {% block header %}
            <div class="logo">
                {% if user.is_active %}
                    <a href="/id{{ user.id }}">
                {% else %}
                    <a href="/">
                {% endif %}
                    <span>DigEd</span>
                </a>
            </div>
        {% endblock %}
        <div class="logout_div">
            {% if user.is_active %}
                You logged as '{{ user.username }}' <a href="logout">Log-out</a>
            {% endif %}
        </div>
    </div>
    <div class="wrapper">
        {% block wrapper %}
            <div class="side-bar">
                {% block side-bar %}
                    {% if user.is_active %}
                        {% include "blocks/nav_menu_block.html" %}
                    {% endif %}
                {% endblock %}
            </div>
            <div class="content-wrap">
                <div class="content">
                    {% block content %}
                    {% endblock %}
                </div>
                <div class="footer-wrap">
                    <div class="footer">
                        Footer!
                        {% block footer %}
                        {% endblock %}
                    </div>
                </div>
            </div>
        {% endblock %}
    </div>
</body>
</html>